<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195177306787-4i0urhdlj3ts7q5kjgt88nbfil3eelq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195177306787-4i0urhdlj3ts7q5kjgt88nbfil3eelq6</string>
	<key>API_KEY</key>
	<string>AIzaSyAlxxi9KY1-ZY0HTjD4ecYCcQmluD_cHFU</string>
	<key>GCM_SENDER_ID</key>
	<string>195177306787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newagedavid.instantgram</string>
	<key>PROJECT_ID</key>
	<string>instantgram-aa88c</string>
	<key>STORAGE_BUCKET</key>
	<string>instantgram-aa88c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195177306787:ios:b22705fd496b2078243d16</string>
</dict>
</plist>